<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %></p>
  <p><%= dose.description %></p>
<% end %>
<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to "Back", cocktails_path %></p>
